.add-option-error {
  color: $offwhite;
  font-style: italic;
  padding: 0 $md;
  margin: $md 0 0 0;
}

.add-option {
  display: flex;
  padding: $md;
}

.add-option__input {
  flex-grow: 1;
  background: $darkblue;
  border: none;
  border-bottom: 0.3rem solid darken($darkblue, 10%);
  border-right: 0.15rem solid darken($darkblue, 10%);
  padding: $sm;
  margin-right: $sm;
  box-shadow: inset 0 0 $md rgba(0,0,0,0.35);
  color: $offwhite;
  outline: none;
}