.header {
  background: $offblack;
  color: #fff;
  margin-bottom: $md*1.5;
  padding: $md*1.2 0;
}

.header__title {
  font-size: $lg*0.8;
  margin: 0 0 1rem;
  text-transform: uppercase;
}
.header__subtitle {
  color: $offwhite;
  font-size: $base-size;
  font-weight: 400;
  margin: 0;
}

// desktop
@media(min-width: $desktop) {
  .header {
    margin-bottom: 4.8rem;
    padding: $xl 0;
  }
  .header__title {
    font-size: $lg;
  }
}