.header {
  background: $offblack;
  color: #fff;
  margin-bottom: 4.8rem;
  padding: $lg 0;
}

.header__title {
  font-size: $base-size * 2;
  margin: 0 0 1rem;
  text-transform: uppercase;
}
.header__subtitle {
  color: $offwhite;
  font-size: $base-size;
  font-weight: 400;
  margin: 0;
}